body {
    margin: 0;
    padding: 0;
    background: #F3F5FC;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    margin: auto;
    height: 100vh;

}

.logo {
    margin-left: 5%;
}

.left {
    /* background-color: aqua; */
    margin-top: 5vh;
    height: 95vh;

}

.elements-left {
    margin: auto;
    /* background-color: bisque; */
    width: 80%;
    height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.elements-text{
    width: 100%;
}

#message {
    width: 80%;
    max-height: 500px;
    margin-left: 13%;
    background: #F3F5FC;
    text-transform: lowercase;
    max-height: 500px;
    margin-top: 70px;
    font-size: 25px;
    border: none;
    outline: none;

    /* Oculta el scrollbar vertical pero permite desplazamiento */
    overflow-y: auto; 
    scrollbar-width: thin;
    /* Ancho del scrollbar (delgado) */
    scrollbar-color: transparent transparent;
    /* Color del scrollbar (transparente) */

}

#fileInput {
    margin-left: 13%;
}

.btn-encrypt-decrypt {
    margin-left: 13%;
}

#ruler {
    width: 100%;

}

.encrypt-decrypt {
    margin-bottom: 5vh;
    width: 87%;

}

#encrypt{
    width: 44%;
    height: 67px;
    border-radius: 20px;
    background: #0A3871;
    margin-left: 0%;
}

#decrypt {
    width: 44%;
    height: 67px;
    border-radius: 20px;
    margin-left: 8%;
}

/* .right {
    background-color:  chocolate;
} */


.elements-right {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 91vh;
    background-color: #ffffff;
    border-radius: 24px;
    margin-top: 6vh;
    align-items: center;
}

#image-doll {
    width: 60%;
    height: 250px;
    margin-top: 35%;

    /* display: none; */
}

#message1 {
    font: bold 25px sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    /* display: none; */
}


#message2 {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    color: #495057;

    /* display: none; */
}

#result {
    width: 90%;
    height: 80%;
    margin-top: 40px;
    border: none;
    outline: none;

    display: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#copy-dowland {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    gap: 40px;

    
}

#copy-button{
    width: 50%;
    height: 67px;
    border-radius: 20px;
    background-color: #ffffff;

    display: none;
}

#dowland-button{
    width: 30%;
    height: 67px;
    border-radius: 20px;
    background-color: #ffffff;

    display: none;
}

#dowland {
    font-size: 52px;

}

/* Media query para pantallas de hasta 1300px de ancho */
@media (max-width: 1300px) {
    .container {
        grid-template-columns: 1fr; 
    }
    
    .left{
        height: 73vh;
    }

    .elements-left{
        width: 100%;
        height: 100%;
    }

    #message{
        max-height: 400px;
    }

    /* .right {
        background: red;
    } */

     .elements-right{
        height: 11vh;
        margin: auto;
    }

    #image-doll {
        display: none;
    }

    #message1 {
        flex-direction: row;
    }
    
    
    #message2 {
        flex-direction: row;
    } 

    #result{
        height: 200px;
    }

    .right-expanded {
        height: 420px !important; /* Ajusta la altura cuando el textarea es visible */
    } 

    .elements-right-expanded {
        height: 370px !important; /* Ajusta la altura cuando el textarea es visible */
        margin-top: 25px;
    }

}

@media (max-width: 600px) {

    .left{
        height: 68vh;
    }

    .elements-left{
        height: 100;
    }

    #message{
        max-height: 280px;
    }

    .btn-encrypt-decrypt{
        margin-left: 0px;
        text-align: center;

    }

    .encrypt-decrypt{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }


    #encrypt{
        width: 90%;
    }

    #decrypt{
        margin-top: 20px;
        width: 90%;
        margin-left: 0px;
    }

    #message1 {
        font-size: 20px;
        flex-direction: column;
    }
    
    
    #message2 {
        font-size: 15px;
        flex-direction: column;
    } 
    
    .elements-right{
        height: 15vh;
        margin-top: 30px;
    }

    #copy-button{
        width: 70%;
    }
    #dowland-button{
        width: 15%;
    }

}