body {
    background: #F3F5FC;
}

#logo {
    Width: 120px;
    Height: 48px;
    margin-top: 40px;
    margin-left: 40px;
    Gap: 40px;

}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.container-text-buttons {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 5%;
}

.container-result {
    width: 40%;
    height: 800px;
    margin-right: 50px;
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#message {
    width: 577px;
    height: 48px;
    background: #F3F5FC;
    max-height: 500px;
    margin-top: 70px;
    font-size: 25px;
    border: none;
    outline: none;

    /* Oculta el scrollbar vertical pero permite desplazamiento */
    overflow-y: auto;
    scrollbar-width: thin;
    /* Ancho del scrollbar (delgado) */
    scrollbar-color: transparent transparent;
    /* Color del scrollbar (transparente) */
}


#btn-encrypt-decrypt {
    position: absolute;
    top: 733px;

}

#rulers {
    margin-left: 1%;
}

.buttons {
    width: 680px;
    height: 67px;
    Gap: 24px;
    display: flex;
    flex-direction: row;
}

#encrypt {
    width: 328px;
    height: 67px;
    Gap: 24px;
    border-radius: 20px;
    background: #0A3871;

}

#decrypt {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    Gap: 8px;
}

#image-doll {
    width: 336px;
    height: 304px;
    margin-top: 125px;

}

#message1 {
    margin-top: 20px;
    font-size: 30px;

}

#message2 {
    color: #495057;
}

#result {
    margin-top: 20px;
    width: 80%;
    height: 600px;
    border: none;
    outline: none;
    display: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#copy-dowland {
    display: flex;
    flex-direction: row;
}

#copy {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    Gap: 8px;
    background-color: white;
    display: none;
    margin-top: 20px;
}

#dowland-button {
    width: 100px;
    height: 67px;
    margin-top: 20px;
    background-color: white;
    display: none;
    border-radius: 24px;
    margin-left: 20px;
}

#dowland {
    font-size: 52px;

}

@media (max-width: 1300px) {
    .container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    
    }

    .container-text-buttons {
        align-items: center;
    }


    #btn-encrypt-decrypt {
        position: absolute;
        top: 533px;
    }

    #message {
        width: 577px;
        height: 48px;
        background: #F3F5FC;
        max-height: 330px;

    }


    .container-result {

        position: absolute;
        top: 633px;
        width: 90%;
        height: 430px;
        margin: auto; /* Esto centrará horizontalmente el div */

    }

    .buttons {
        width: 500px;
        height: 57px;
        Gap: 24px;
        display: flex;
        flex-direction: row;
    }

    #image-doll {
        display: none;
    }

    #message1 {
        margin-top: 40px;

    }

    #result {
        height: 300px;
    }

}

@media (max-width: 600px) {

    .container {
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;

    }

    #message {
        width: 300px;
        height: 58px;
        background: #F3F5FC;
        max-height: 230px;

    }

    .container-text-buttons {
        display: flex;
        align-items: center;
    }

    #btn-encrypt-decrypt {
        top: 433px;
        width: 320PX;
    }

    .buttons {
        flex-direction: column;
        height: 200px;
        
    }

    .container-result {
        width: 90%;
        height: 300px;
        margin: auto;
        margin-top: 20px; 

    }

    #encrypt,#decrypt {
        width: 300px;
    }

    #copy{
        width: 200px;
    }
}